.team .box {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid rgb(62 28 131 / 10%);
  padding: 3rem;
  height: 13rem;
  width: 20rem;
  transition: 0.s;
  padding: 15px;
  margin: 5px;
}

btn {
  background-color: #e80f0f;
}

.team .box:hover {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  cursor: pointer;
}


.team label {
  display: inline-block;
  margin-top: 20px;
}
.team i {
  color: grey;
  margin-right: 2px;
  align-items: center;
}
