.hero {
  background-image: url("../../../../public/images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}
.hero .container {
  padding-top: 15%;
}
.hero h1 {
  color: #ef1010;
  font-size: 60px;
  font-weight: bold;
}
.hero p {
  color: #fff;
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .hero .container {
    padding-top: 30%;
  }
}
