.body2 {
  background-color: rgb(255, 255, 255);
  padding: 7%;
  margin-top: 65px;
}

.status-container {
  background-color: #f5f5f7;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  color: white;
}

.btn-more {
  position: absolute;
  right: 15%;
  bottom: 55%;
  background-color: #283594;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.return {
  transition: all 0.8s;
  color: white;
  background-color: #283594;
  text-decoration: none;
  top: 50 px;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

.return:hover {
  transition: all 0.3s;
  color: black;
  background-color: #ffffff;
  font-weight: bold;
  border: 1px solid #000000;
  text-decoration: none;
}
.status-line {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.line {
  flex-grow: 1;
  height: 7px;
  margin-top: 3px;
  border-radius: 20px;
  background-color: #f0f0f0;
  position: relative;
}

.line:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 40px;
  background-color: #283594;
  animation: lineAnimation 2s linear forwards;
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.details {
  background-color: #283594;
  border-radius: 10px;
}

.status-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.icon-success {
  color: green;
}

.icon-error {
  color: red;
}

.icon-pending {
  color: orange;
}
