/* Login */
.login-form-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  height: 500px;
  width: 800px;
  font-family: "Times New Roman", Times, serif;
}

.login-form-container h2 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  margin-top: -10px;
  margin-bottom: -10px;
  color: #283494;
}

.body {
  background-image: url("/src/assets/fondo2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 1000px;
  margin-top: -10px;
  padding: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.p {
  text-decoration: none;
  color: #283494;
  font-size: 18px;
}

.btn-login {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #283494;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-login {
  background-color: #283494;
  color: #ffff;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  width: 150px;
  text-align: center;
  font-weight: 500;
  margin: 0 auto;
  box-shadow: 0px 4px 10px rgba(22, 11, 149, 0.886);
  transition: background-color 0.3s, transform 0.6s, box-shadow 0.3s;
}

.btn-login:hover {
  background-color: #0e0555e3;
  color: #fff;
  /* transform: rotate(3deg); */
  box-shadow: 0px 18px 15px rgba(30, 1, 252, 0.748);
}

/* Register */

.registro-form-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  height: 80%;
  width: 800%;
  padding: 50px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Times New Roman", Times, serif;
}

.registro-form-container h2 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  margin-top: -10px;
  margin-bottom: -10px;
  color: #283494;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-left: 45px;
}

.input-with-icon i {
  position: absolute;
  left: 4px;
  top: 35%;
  transform: translateY(-50%);
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.btn-registro {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #283494;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-registro {
  background-color: #283494;
  color: #ffff;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  width: 150px;
  text-align: center;
  font-weight: 500;
  margin: 0 auto;
  box-shadow: 0px 4px 10px rgba(15, 14, 14, 0.656);
  transition: background-color 0.3s, transform 0.6s, box-shadow 0.3s;
}

.btn-registro:hover {
  background-color: #0e0555e3;
  color: #fff;
  /* transform: rotate(3deg); */
  box-shadow: 0px 18px 15px rgba(30, 1, 252, 0.748);
}